.user {
  width: 240px;
  height: 240px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.user:hover img {
  box-shadow: none;
  border: 4px solid #02cc67;
}

.refresh {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  display: none;
}

.user:hover .refresh {
  display: inline;
  animation: opacityRefresh 0.1s linear;
}

@keyframes opacityRefresh {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
