.addButton {
  background: transparent;
  width: 240px;
  height: 240px;
  border: 4px solid #02cc67;
  border-radius: 6px;
  cursor: pointer;
}

.addButton:hover {
  border-color: #2a8859;
}

.addButton:hover svg {
  fill: #2a8859;
}
