@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s;
}
html,
body {
  height: 100%;
}

#__next{
  height: 100%;
  padding: 80px 40px 0;
}